<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LibVLCSharp" version="3.6.7" targetFramework="net472" />
  <package id="Markdig" version="0.26.0" targetFramework="net472" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.SlowCheetah" version="4.0.8" targetFramework="net472" developmentDependency="true" />
  <package id="NETStandard.Library" version="2.0.0" targetFramework="net472" />
  <package id="Octokit" version="0.50.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Configuration.Abstractions" version="2.0.2.45" targetFramework="net472" />
  <package id="System.Configuration.ConfigurationManager" version="4.4.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net472" />
  <package id="TreeViewAdv" version="1.7.0.0" targetFramework="net472" />
  <package id="VideoLAN.LibVLC.Windows" version="3.0.18" targetFramework="net472" />
  <package id="WindowsAPICodePack-Core" version="1.1.1" targetFramework="net472" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net472" />
</packages>